.navbar .btn {
  font-size: .8em;
  font-weight: bolder;
  text-transform: uppercase;
  padding: .375rem .15rem
}

header.masthead {
  background: url("../img/the_art_of_being_unordinary_main_graphic1.jpg") no-repeat center center;
}

.navbar-collapse li{
  padding: 9px;
}

.collapse li a, .collapsing li a {
  float: right;
}


@media only screen and (max-width: 1200px) {
  .navbar-expand-xl .collapse.show li, .navbar-expand-xl .collapsing li {
    width: 12em;
    display: inline-block;
    position: relative;
    right: calc(-100% + 12em);
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand, .navbar-brand img {
    width: 75%;
  }
}